@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***** topic cover in this Project *****/

    /* arrow rotation effect Using "transform: rotate(0deg);"*/
    /* Use of "filter" property with its value such as 'grayscale(%)' , 'opacity(0.5)'or 'blur()' AND more.. */
    /* Use of "position" property 'fixed' value*/
    /* IMP Use of Variable declare in ":root" and use billow value'var(--variableName)'*/
    /* Use of " display: none;" */
    /* IMP animating Content Using :hover effect */
    /* IMP use of  "top:0;" "bottom: 0;" 'vh' 'vw' value in " width: 100vw;" and "height: 100vh"*/


:root{
    font-size: 16px;
    font-family: 'Balsamiq Sans', cursive;
    --text-primery:rgb(114, 114, 114);
    --text-secodary:rgb(160, 160, 160);
    --bg-fst: rgb(250, 162, 0);
    --bg-snd:rgb(160, 104, 0);
}

body{
    color: black;
    background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar-track {
   background: rgb(165, 165, 165);
}

body::-webkit-scrollbar-thumb {
    background: orangered;
}


body::-webkit-scrollbar {
    width: .5em;
}

main{
    margin-left: 4rem;
    padding: 1rem;
}



/* Left slide MANU MAin code */

.navbar-main{
    position: fixed;
    background-color: var(--bg-nav-slide);
    transition: 200ms ease;
    box-shadow: 4xp 4px 8px;
}

.nav-list li a{
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.navbar-nav-main {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    height:100%;
}


.nav-item-main{
    width: 100%;
    padding-top:  1em;
}

.nav-item-main:last-child{
    margin-top: auto;
    padding-bottom:1em ;
}

.nav-link-main{
    display: flex;
    color: var(--text);
    text-decoration: none;
    padding-top:.3em ;
    align-items: center;
    filter: grayscale(50%) opacity(0.5);
    padding: .5em 0;
}

.nav-link-main:hover{
    filter: grayscale(0%) opacity(1);
    background:rgb(255, 187, 61);
    color: rgb(207, 100, 0);
}


.link-text{
    display: none;
    padding-left:2rem ;
}

.mysvg{
    color: var(--text);
    margin-left:1rem;
    min-width: 2rem;
    transition: 0.2s ease;
}

/* .myarrow , .mysvg{

} */

.myarrow{
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    justify-content: center;
    margin: 0 .5em;
    filter: grayscale(0) opacity(0.5);
    cursor: pointer;
}

/* arrow rotation effect */

.navbar-main:hover .myarrow{
    transform: rotate(180deg);
    filter: opacity(1);
}

/* Convert NAv into row */

@media only screen and (max-width: 600px) {
    .navbar-main{
        bottom: 0;
        width: 100vw;
        height: 3rem;
        margin: 0;
        padding: 0;
    }
    main{
        margin: 0;
    }
    .nav-item-main{
        padding: .5em;
    }
    .myarrow {
        display: none;
    }
    .nav-link-main{
        padding: 0;
        margin: 0;
    }
    .navbar-nav-main{
        margin-left:-5em;
        padding: 0;
        flex-direction: row;
    }
    .nav-link-main:hover{
        filter: grayscale(0%) opacity(1);
        background:transparent;
        color: var(--bg-snd);
    }
    
}
@media only screen and (min-width: 600px) {
    .navbar-main{
        top:0;
        width: 4rem;
        height: 100vh;
    }
    .navbar-main:hover{
        width: 16rem;
    }
    .navbar-main:hover .link-text{
        display:block;
     }
     
}

